.deps
autom4te.cache
stderr.txt
*.o
configure~
config.log
temp
src/solitario
*.a
solitario
config.h.in~
help-source/solitario.pdf
build
solitario.exe
config.status
libini/Makefile
vs15/solitario-vs15/.vs
vs15/solitario-vs15/x64

vs15/solitario-vs15/solitario-vs15.VC.db
vs15/solitario-vs15/solitario-vs15.VC.VC.opendb
aclocal.m4
autogen.sh
config.guess
config.status
config.sub
configure
depcomp
install-sh
ltmain.sh
Makefile
Makefile.in
missing
solitario.spec
stamp-h1
ar-lib
src/stamp-h1
compile
src/.dirstamp
src/CompGfx/.dirstamp
*.dirstamp
libini/Makefile
libini/Makefile.in
help-source/solitario.log
help-source/solitario.tuc
